In [99]:
medical_charge_url = 'https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv'

In [80]:
from urllib.request import urlretrieve

In [81]:
#Downloading dataset
urlretrieve(medical_charge_url, 'medical-charge.csv')

('medical-charge.csv', <http.client.HTTPMessage at 0x755342952930>)

In [82]:
import numpy as np, pandas as pd, seaborn as sns

In [83]:
import matplotlib
import matplotlib.pyplot as plt

#Make sure charts display inside notebook
%matplotlib inline

In [84]:
#OneHotEncoder for categorial data
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [85]:
medical_charges = pd.read_csv('medical-charge.csv')

In [86]:
medical_charges.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [103]:
medical_charges.age.describe()

count    1338.000000
mean       39.207025
std        14.049960
min        18.000000
25%        27.000000
50%        39.000000
75%        51.000000
max        64.000000
Name: age, dtype: float64

In [87]:
medical_charges.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [88]:
medical_charges

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [89]:
medical_charges.info()

<class 'pandas.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   str
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   str
 5   region    1338 non-null   str
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), str(3)
memory usage: 73.3 KB

In [100]:
medical_charges['charges'].corr(medical_charges['age'])

np.float64(0.2990081933306476)

In [101]:
#Encoding categorial smoker column as smoker_yes and smoker_no
ohe = OneHotEncoder(sparse_output = False)
smoker_enc = ohe.fit_transform(medical_charges[['smoker']])

smoker_df = pd.DataFrame(smoker_enc, columns = ohe.get_feature_names_out(['smoker']))

In [102]:
#Variables for frequently used columns
target = medical_charges['charges']
age = medical_charges['age']
bmi = medical_charges['bmi']
children = medical_charges['children']
smoker = smoker_df['smoker_yes']
non_smoker = smoker_df['smoker_no']

In [96]:
target.corr(smoker)

np.float64(0.787251430498478)

In [97]:
def train(weight, bias):
    return weight(age+bmi+children+smoker+non_smoker) + bias

In [98]:
w = 50
b = 500
prediction = train(50,500)

TypeError: 'int' object is not callable